@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
}

html,
body,
#root,
.scroll {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: auto;
}

.scroll {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  scroll-snap-type: y proximity;
}

.scroll > div {
  scroll-snap-align: start;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  background-color: #101010;
  background: radial-gradient(circle at bottom center, #212121 0%, #101010 80%);
  font-family: "Inter var", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.caption {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 80px;
  color: white;
  font-size: 8em;
  font-weight: 100;
  line-height: 1em;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: auto;
}

.dot {
  pointer-events: none;
  position: relative;
  display: flex;
  width: 100%;
  text-align: center;
  padding: 33vh 0em;
  color: #a0a0a0;
  line-height: 1.6em;
  font-size: 15px;
  letter-spacing: 1.5px;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#inner{
  padding: 2em 4em;
}

.dot > h1, .gateway-metaverse-text > h1 {
  -webkit-font-smoothing: auto;
  pointer-events: none;
  color: white;
  font-size: 5em;
  font-weight: 100;
  margin-bottom: 0.25em;
  line-height: 1em;
}

#inner  p{
  padding: .5em 0em;
}


.tagline {
  position: relative;
  bottom: -4em;
  font-size: 2em;
  line-height: 1.5em;
}

.text {
  bottom: 0;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-token-btn {
  width: 10em;
  height: 3em;
  background-color: #1a2229;
  box-shadow: 0 0 5px 0 #73cdbe;
  color: white;
  border: 1px solid rgba(238, 237, 242, 0.34);
  border-radius: 10px;
  font-size: 0.75em;
  margin-top: 2px;
  z-index: 40;
}

.buy-token-btn:hover {
  background-color: #85dfd5;
  color: #29271a;
  cursor: pointer;
}

#iavatarverse-info {
  width: 65%;
  text-align: left;
  top: 25%;
}

#iavatarverse-info h1 {
  font-size: 2em;
   line-height: 1.1em!important;
}

#roadmap-info {
  top: 25%;
}

.roadmap-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.roadmap-list {
  border-left: 1px solid grey;
  padding-left: 1em;
  margin-bottom: 1em;
}

.roadmap-list-dot {
  position: relative;
  left: -20px;
  top: 17px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff;
}

.roadmap-bottom-line {
  height: 1px;
  position: relative;
  width: 310%;
  background-color: #bec5cc;
  left: -30px;
}

.roadmap-bottom-orb {
  position: relative;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  background-color: #fff;
  left: -14px;
  top: -13px;
}

#gateway-metaverse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#gateway-metaverse > img {
  height: 30em;
}

.gateway-metaverse-text {
  display: flex;
  flex-direction: column;
}

#gateway-metaverse-text > p {
  margin-top: 30px;
  font-size: 1.25em;
}

@media only screen and (max-width: 1000px) {
  .caption {
    font-size: 4em;
  }
}

@media only screen and (max-width: 800px) {
  .caption {
    font-size: 3em;
  }
  .dot > h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 700px) {
  .caption {
    font-size: 2em;
  }
  .dot > h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 600px) {
  .caption {
    font-size: 1em;
  }
  .dot > h1 {
    font-size: 3em;
  }
}
